.iib {
  background: #efefef;
}

.iib-hidden {
  display: none;
}

#toolbar a#iib-toolbar-link {
  padding: 5px 0 2px;
  height: 28px;
  line-height: 24px;
  margin: 0 15px 0 15px;
  border: 0;
  float:right;
}

#toolbar #iib-toolbar-link:hover {
  background: #555;
  text-decoration: none;
}

#toolbar a.active {
  background: #000;
}
